@import "../../../styles/abstracts/variables";

.UserImageBlank {
  height: 100%;

  svg {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    fill: $color-grey-light;
    background-color: rgba($color-primary-light, 0.3);
    padding: 1rem;
  }
}
