@import "../../styles/abstracts/variables";

.Contact {
  // background-color: $color-primary;

  &__Form {
    margin: 5rem auto;

    .marginBottom {
      margin-bottom: 2rem;
    }

    input,
    textarea {
      padding: 1.5rem 2rem;
    }

    input,
    textarea,
    label {
      font-family: "Lato";
      font-size: 1.6rem;
      border: none;
      margin: 0.6rem 0;
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      }
    }

    &__Button {
      border-radius: 24rem;
      font-size: 1.8rem;
      font-weight: 300;
      transition: all 0.3s;
      color: $color-grey-dark;
      padding: 1rem 1.75rem;
      width: min-content;
      cursor: pointer;
      border-width: 0;
      background-image: linear-gradient(
        to bottom right,
        $color-primary,
        $color-secondary
      );

      &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      }

      &:active,
      &focus {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }
    }
  }
}
