@import "../../../styles/abstracts/variables";

.SubOrganistCard {
  background-color: $color-secondary-lighter;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba($color-grey, 0.5);
  line-height: 1.5;

  &__PicAndImage {
    display: flex;
    gap: 1rem;
    // background-color: orangered;

    &__Image {
      position: relative;
      width: 30%;
      aspect-ratio: 1/1;
      flex-shrink: 0;
      border-radius: .5rem;
      overflow: hidden;
    }

    &__Info {
      a {
        color: $color-primary-darker;

        &:hover {
          color: $color-black;
        }
      }

      &_name {
        font-size: 2rem;
      }

      // &_availability {
      //   margin-top: 1rem;
      // }
    }
  }

  &__Availability {
    // background-color: orangered;
    margin-top: 1rem;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 0.5rem;
      gap: 0.5rem;
      margin-left: 1rem;

      li {
        background-color: $color-grey-lighter;
        width: fit-content;
        padding: 0 1rem;
        border-radius: 10rem;
      }
    }
    ul li {
    }
  }
}
