@import "../../../styles/abstracts/variables";

.PhotoShowcase {
  background-color: $color-grey-dark;

  &__Group {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // margin-bottom: -90px;

    margin-left: 0 !important;

    & li {
      display: block;
      cursor: pointer;
      // width: 25%;
    }
    &_Photo {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: #000;
      position: relative;
      aspect-ratio: 1 / 1;

      & div:first-child {
        display: inherit !important;
      }

      & img {
        opacity: 0.7;
        width: 100%;
        height: auto;
        transform: scale(1.15);
        transition: transform 0.5s, opacity 0.5s;

        &:hover {
          transform: scale(1.03);
          opacity: 1;
        }
      }
    }
  }

  &__ModalContainer {
    position: relative;

    &__Control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 1rem;
      cursor: pointer;
      border-radius: 500px;
      width: 5rem;
      height: 5rem;
      background-color: rgba($color-grey-dark, 0.8);
      margin: 0 0.5rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      z-index: 9;
      color: $color-grey-lighter;

      &:hover {
        background-color: $color-grey;
      }

      &_down {
        left: 0;
      }

      &_up {
        right: 0;
      }
    }

    &__ModalImage {
      position: relative;
      height: 90vh;
      width: 100%;
    }
  }
}

.Rectangle {
  aspect-ratio: 2/1;
}
