@import "../../../styles/abstracts/variables";

.PhotoShowcase {
  background-color: $color-grey-dark;

  &__Group {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // margin-bottom: -90px;

    margin-left: 0 !important;

    & li {
      display: block;
      cursor: pointer;
      // width: 25%;
    }
    &_Photo {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background-color: #000;
      position: relative;
      aspect-ratio: 1 / 1;

      & div:first-child {
        display: inherit !important;
      }

      & img {
        opacity: 0.7;
        width: 100%;
        height: auto;
        transform: scale(1.15);
        transition: transform 0.5s, opacity 0.5s;

        &:hover {
          transform: scale(1.03);
          opacity: 1;
        }
      }
    }
  }
}

.ModalImage {
  position: relative;
  height: 90vh;
  width: 100%;
}

.Rectangle {
  aspect-ratio: 2/1;
}
