@import "../../../styles/abstracts/variables";

.DateBox {
  background-color: $color-primary;
  position: absolute;
  padding: 1rem;
  //   text-align: center;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  //   top: 0;
  margin-left: 1rem;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__Date {
    font-size: 3rem;
    font-weight: 300;
  }
  &__Month {
    text-transform: uppercase;
    font-weight: 600;
  }
}
