@import "../../styles/abstracts/variables";

.EventCard {
  // background-color: orangered;
  // height: 40rem;
  position: relative;
  box-shadow: 0 0 20px $color-grey;
  padding-bottom: 6rem;
  background-color: $color-primary-lighter;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;

  &__Image {
    position: relative;

    aspect-ratio: 2 / 1;
  }

  &__Date {
    position: absolute;
    margin-left: 1rem;
    margin-top: -2rem;
  }

  &__IndentedText {
    // margin-left: 10rem;
    // margin-top: 1.25rem;
    margin: 1.25rem 1.25rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    a {
      text-decoration: none;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
      fill: $color-black;
      & > * {
        width: 1.8rem;
        height: 1.8rem;
        fill: $color-black;
      }
    }
    &__Title {
      font-size: 2.5rem;
    }

    &__Time,
    &__Location {
      display: flex;
      align-items: center;
      gap: 0.7rem;
    }
  }

  &__Type {
    position: absolute;
    bottom: 0;
    // height: 20rem;
    width: 100%;
    color: $color-white;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    & > * {
      padding: 0.3rem 1rem;
      font-size: 1.45rem;
      border-radius: 1.5rem;
    }

    & > * {
      background-color: $color-secondary-darker;
    }

    // &_chapter {
    //   background-color: $color-primary-darker;
    // }
    // &_community {
    //   background-color: $color-secondary-darker;
    //   color: $color-white;
    // }
    // &_student {
    //   background-color: $color-primary-light;
    //   color: $color-black;
    // }
  }
}
