@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.Toolbar {
  background-color: $color-primary-darker;
  padding: 2.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__Brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__Logo {
      position: relative;
      width: 10rem;
      height: 10rem;
    }

    &__Name {
      // width: 5rem;
      color: $color-primary;

      & :first-child {
        font-size: 1.5rem;
      }

      & div:nth-child(2) {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .5px;
      }
    }
  }

  &__DesktopOnly {
    display: block;
    flex-grow: 1;

    @include respond(tab-port) {
      display: none;
    }
  }
}
