@import "../../../styles/abstracts/variables";

.SearchBar {
  // background-color: $color-primary;
  height: 6rem;
  z-index: 0;
  position: absolute;
  top: 0rem;
  left: -0.6rem;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
  transition: all 0.3s;
  opacity: 0;

  & > * {
    height: 100%;
  }

  &__Open {
    top: 1.3rem;
    z-index: 4;
    opacity: 1;
  }

  &__NoBg {
    background-color: transparent;
  }

  &__Form {
    position: relative;
    // margin-right: 10rem;
    padding-right: 3rem;
    height: 100%;

    input {
      position: absolute;
      right: 5.9rem;
      top: 50%;
      height: 3.8rem;
      padding: 1rem 2rem;
      width: 35rem;
      font-family: inherit;
      border: none;
      transform: translateY(-50%);

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      }
    }

    &_SearchButton {
      position: absolute;
      right: 3rem;
      top: 50%;
      height: 3.8rem;
      background-color: $color-grey-light;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      padding: 0 0.7rem;
      cursor: pointer;

      & > svg {
        height: 2.2rem;
        width: 2.2rem;
      }
    }
  }
}
