.Search {
  &__Events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 3rem;
  }

  &__AreaOrgans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem 2rem;
    grid-auto-rows: 60rem;
  }

  &__Subs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
  }

  &__OrganTeachers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 50rem));
    gap: 2rem;
  }
}
