@import "../../../styles/abstracts/variables";

.SendEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 2.5rem;
//   background-color: $color-grey-light;
  padding: 2rem 0;

  svg {
    height: 1.8rem;
    width: 2rem;
    fill: $color-grey-dark;
    margin-right: 1rem;
  }
  a {
    cursor: pointer;
  }
}
