@import "../../../styles/abstracts/variables";

.SendEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // margin-top: 2.5rem;
  //   background-color: $color-grey-light;
  padding: 1rem 0;
  border-radius: 0 0 1rem 1rem;

  svg {
    height: 1.8rem;
    width: 2rem;
    fill: $color-grey-dark;
    margin-right: 1rem;
  }
  a {
    cursor: pointer;
  }

  &:hover {
    background-color: $color-grey-light;
  }

  &__FromTeacherCard {
    // background-color: orangered;
    justify-content: unset;
    padding: .25rem 2rem;
    margin-top: .5rem;
    font-size: 1.5rem;
    border-radius: 10rem;
    // text-decoration: solid;
    background-color: $color-primary-light;
    width: fit-content;
    transition: all .2s;

    &:hover {
      background-color: $color-primary;
    }
  }
}
