@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.About {
  &__TopInfo {
    // display: grid;
    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 3rem;

    &_Image {
      position: relative;
      // background-color: orangered;
      width: 50%;
      flex-shrink: 0;
      aspect-ratio: 8 / 5;
      border-radius: 5px;
      overflow: hidden;
      align-self: center;
      box-shadow: 0 0 1.3rem $color-grey-dark;

      @include respond(tab-port) {
        width: 100%;
      }
    }

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }
  &__Values {
    position: relative;
    background-color: $color-black;

    h2 {
      color: $color-white;
    }

    &__BGImage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // height: 40rem;
      // height: 100%;
      opacity: 0.2;
    }

    &__Text {
      position: relative;
      // top: 50%;
      // transform: translateY(-50%);
      padding: 8rem 3rem;
      text-align: center;
      color: $color-white;

      h2 {
        margin-bottom: 4rem;
        font-weight: 300;
      }

      &__Group {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 1rem;

        @include respond(tab-port) {
          flex-direction: column;
          gap: 4rem;
        }

        & > * {
          position: relative;
          padding: 0 3rem;
          // flex: 0 1;

          svg {
            width: 3rem;
            height: 3rem;
            fill: $color-primary;
            margin-bottom: 0.7rem;
          }
        }

        & > *:not(:last-child)::after {
          // background-color: orangered;
          content: "";
          position: absolute;
          top: 3rem;
          right: 0;
          width: 1px;
          height: calc(100% - 3rem);
          background-color: rgba($color-white, 0.2);

          @include respond(tab-port) {
            width: 0;
          }
        }

        &__Value {
          flex-basis: 33%;

          &_value {
            margin-bottom: 1rem;
            font-size: 133%;
          }
        }
      }
    }
  }

  &__Photos {
    h2 {
      text-align: center;
    }

    &__Previews {
      // height: 20rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 3rem;
    }
  }

  &__Board {
    h2 {
      margin-bottom: 5rem;
      text-align: center;
    }
    &__BoardMembers {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
      gap: 3rem;
      // display: flex;
      // flex-wrap: wrap;
    }
  }
}
