@import "../../styles/abstracts/variables";

.PhotoAlbum {
  // background-color: orangered;

  h1,
  h3 {
    text-align: center;
  }

  h3 {
    margin: auto;
  }

  &__Description {
    max-width: 55rem;
    margin: auto;
  }

  &__Photos {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

    &__Photo {
      cursor: pointer;
      position: relative;
      aspect-ratio: 16 / 9;
    }
  }
}

.ModalContainer {
  position: relative;

  &__Control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    cursor: pointer;
    border-radius: 500px;
    width: 5rem;
    height: 5rem;
    background-color: rgba($color-grey-dark, .8);
    margin: 0 .5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 9;
    color: $color-grey-lighter;

    &:hover {
      background-color: $color-grey;
    }

    &_down {
      left: 0;
    }

    &_up {
      right: 0;
    }
  }

  &__ModalImage {
    position: relative;
    height: 90vh;
    width: 100%;
  }
}
