@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.Links {
  margin-bottom: 10rem;
  &__Group {
    margin-bottom: 5rem;
  }
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;

  // @include respond(tab-port) {
  //   grid-template-columns: 1fr;
  // }
}
