@import "../../styles/abstracts/variables";

.Teachers {
  // background-color: orangered;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  margin-bottom: 10rem;

  // &__Teacher {
  //   background-color: $color-white;
  //   padding: 1.5rem;

  //   &_name {
  //     font-size: 2rem;
  //   }
  // }
}
