@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.MegaMenu {
  background-color: $color-secondary-light;
  padding: 2rem 3rem;
  position: absolute;
  width: 100%;
  z-index: 2;

  a {
    color: $color-primary-dark;
    text-decoration: none;

    &:hover {
      color: $color-primary-darker;
    }
  }

@include respond(tab-port) {
  background-color: unset;
  position: relative;
  padding-top: 0;
}
}
