@import "../../styles/abstracts/variables";

.Jobs {
  // background-color: orangered;

  &__Group {
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;

    &__Job {
      display: flex;
      //   gap: 4rem;
      justify-content: space-between;
      background-color: $color-grey-light;
      border-radius: 1rem;
      padding: 2rem;
    //   align-items: center;

      &__Image {
        position: relative;
        // height: 5rem;
        flex: 0 0 48%;
        // width: 50%;
        aspect-ratio: 8 / 5;
        flex-shrink: 0;
        height: min-content;
        border-radius: 1rem;
        overflow: hidden;

        svg {
          fill: $color-secondary-dark;
          background-color: $color-primary-lighter;
          width: 100%;
          padding: 2rem;
          border-radius: 1rem;
          overflow: hidden;
        }
      }

      &__Info {
        // background-color: orangered;
        flex: 0 0 48%;

        &__Employer {
            font-weight: 800;
        }

        &__Description {
            margin-top: 2rem;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
}
